.recipe-step {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-step label,
.recipe-step input,
.recipe-step textarea,
.recipe-step select,
.recipe-step button {
  margin-top: 8px;
}
.recipe-step-option,
.recipe-step-parameter {
  margin-top: 8px;
  margin-bottom: 16px;
}
