.recipe-overview-bottom-bar {
  border: 1px solid #000;
}

.recipe-overview-steps {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.recipe-overview-step {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  border: 1px solid #333;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
  min-width: 100px;
}

.recipe-overview-step:first-of-type {
  margin-left: 16px;
}

.recipe-overview-step.current-step {
  font-weight: bold;
}

.human-task {
  margin-bottom: 32px;
  background-color: lightsalmon;
}

.automated-task {
  margin-top: 32px;
  background-color: lightblue;
}

.recipe-overview-step-icon img {
  max-width: 40px;
  pointer-events: none;
}

.recipe-overview-drop-target {
  position: absolute;
  height: 100%;
  top: 0;
  right: -16px;
  width: 16px;
  z-index: 100;
}

.recipe-overview-drop-target.first-target-drop-target {
  left: -16px;
}

.hovered-drop-target {
  background-color: blue;
}
