.recipe-overview {
  position: relative;
  border-bottom: 1px solid white;
}

.recipe-overview-steps {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  height: fit-content;
  padding-top: 16px;
  padding-bottom: 96px;
}

.recipe-overview-drop-target {
  position: absolute;
  height: 100%;
  top: 0;
  right: -16px;
  width: 16px;
  z-index: 100;
}

.recipe-overview-drop-target.first-target-drop-target {
  left: -16px;
}

.hovered-drop-target {
  background-color: blue;
}

.recipe-overview-controls {
  position: absolute;
  right: 0;
  bottom: 16px;
  padding: 8px;
  z-index: 100;
}